<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.OtoparkOtomasyon"
        tools:targetApi="31">
        <activity
            android:name=".MusteriUcretler"
            android:exported="false" />
        <activity
            android:name=".CalisanBilgiGuncelle"
            android:exported="false" />
        <activity
            android:name=".CalisanSayfa"
            android:exported="false" />
        <activity
            android:name=".PersonelMusteriBilgiler"
            android:exported="false" />
        <activity
            android:name=".PersonelEkle"
            android:exported="false" />
        <activity
            android:name=".AlinacakOdemeler"
            android:exported="false" />
        <activity
            android:name=".UcretGuncelleme"
            android:exported="false" />
        <activity
            android:name=".PersonelBilgiGuncelle"
            android:exported="false" />
        <activity
            android:name=".QRCikis"
            android:exported="false" />
        <activity
            android:name=".UyeSikayetSayfasi"
            android:exported="false" />
        <activity
            android:name=".PersonelSayfa"
            android:exported="false" />
        <activity
            android:name=".UyeBilgiGuncelleme"
            android:exported="false" />
        <activity
            android:name=".UyeAnaSayfa"
            android:exported="false" />
        <activity
            android:name=".UyeOlma"
            android:exported="false" />
        <activity
            android:name=".QRGiris"
            android:exported="false" />
        <activity
            android:name=".UyeGiris"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>